.view {
    margin: 10px;
    width: 500px;
    background-color: rgb(232, 255, 177);
}

header {
    padding: 25px 50px;
    margin: 10px;

    text-align: center;
    font-size: 32px;
}

.content {
    padding: 0px 30px;
}

.question-box{
    padding: 0px 50px;
    text-align: center;
}

hr {
    background-color: rgba(48, 149, 180, 0.507);
    height: 1px;
    border: none;
}

footer {
    height: 100px;
    text-align: center;
    line-height: 100px;
}