body {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0;
    background-color: #ddd;
}

.form {
    margin-top: 10px;
    width: 600px;
    border: 1px solid #bbb;
    border-radius:100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    background-blend-mode: multiply;
    background-color: rgb(98, 135, 192);
    background-image: url(../img/bk_city.png);
    background-size: 250%;
    background-position: 25% center;
}

.form__header {
    height: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

    background-color:rgba(12, 43, 78, 0);

    font-family: monospace;
    font-size:36px;
    color: #ddd;
    text-align: center;
    line-height: 150px;
}

.form__content{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ddd;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 18px;
}

.form__input-block{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    
    text-align: center;
}

.form__input-block input{
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.form__input-block input:hover{
    transition: all 0.1s;
    transform: scale(1.5);
}

#form__comment{
    padding: 10px;
    border-radius: 10px;
}

#form__comment:hover{
    transition: all 0.1s;
    transform: scale(1.2);
}

.form__sumbit{
    padding-top: 20px;
}

.form__sumbit button{
    border: 2px solid #ccc;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;

    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
    background-color:rgb(50, 86, 163);

    transition: all 0.5s;
}

.form__sumbit button:hover{
    transform: scale(1.5);
    background-color:rgb(0, 40, 77);
    
}

.footer {
    position: sticky;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-top: 10px;

    background-color:rgba(63, 131, 187, 1);
}

.footer__content {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;

    font-family: monospace;
    font-size: 16px;
    color: #ddd;

    text-align: center;
}

@media screen and (max-width: 600px){
    .form {
    margin-top: 0;
    width: 100%;;
    border-radius: 20px;

    background-size: 350%;
    }
}