<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/" method="post">

        </form>
        <h2>Todo list</h2>
        <ul>
            <% for(item of todos){ %>
                <li><%= item.content %></li>
            <% } %>
        </ul>
    </div>
    <% if(isLogin){ %>
        你已經登入
        <a href="/logout">登出</a>
    <% } else { %>
            你還沒登入
            <a href="http://localhost:5001/login">登入</a>
    <% } %>
    <a href="/register">註冊</a>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</html>