<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/head')%>
</head>
<body>
    <%- include('template/navbar')%>
    <div class="jumbotron">
        SHIN'S BLOG
    </div>
    <main>   
        <h1>關於大熊的事也關於你關於我</h1>
    </main>
</body>
</html>