<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/head')%>
</head>
<body>
    <%- include('template/navbar')%>
    <div>
        <%= errorMessage %>
    </div>
    <div class="login__container">
        <div class="login__card">
            <form action="./handleLogin" method="post">
                <div class="login__card-username">
                    <h4>username:</h4>
                    <input type="text" name="username">
                </div>
                <div class="login__card-password">
                    <h4>password:</h4>
                    <input type="password" name="password">
                </div>
                <div class="login__card-btn">
                    <button type="submit">login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>