* {
    box-sizing : border-box;
}

body {
    margin: 0;
    background-color: aliceblue;
    font-family: monospace;
}

textarea {
    padding: 5px;
}

header {
    padding: 10px;

    background-color: rgb(40, 87, 148);
    box-shadow: 1px 1px 3px 1px rgb(177, 185, 192);

    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.board {
    margin: 25px auto;
    padding: 20px 40px;

    width: 100%;
    max-width: 600px;

    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgb(177, 185, 192);
}

.board__form div {
    margin: 10px 5px;
}

.board__title {
    padding:25px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 28px;
}

.board__btn {
    display: flex;
    align-items: center;
    
    padding: 8px 10px;
    
    background-color: rgb(255, 255, 255);
    
    border: 1px rgb(130, 168, 218) solid;
    border-radius: 5px;

    color: rgb(40, 87, 148);
    
    transition: 0.3s;
}

.board__btn:hover {
    background-color: rgb(40, 87, 148);
    color: aliceblue;
}

.board__login a {
    text-decoration: none;
    color: rgb(40, 87, 148);
    font-size: 14px;
    font-weight: bolder;
}

.form__box {
    display: flex;
    flex-direction: row;
}

.board__default {
    font-size: 18px;
    text-align: left;
}

.board__input {
    padding: 5px;
    border: 1px rgb(130, 168, 218) solid;
    border-radius: 5px;
}

#board__text {
    width: 100%;

    border: 1px rgb(130, 168, 218) solid;
    border-radius: 5px;
}

.board__submit-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-weight: bold;
}

.board__hr {
    width: 100%;
    height: 2px;
    background-color: rgb(197, 216, 233);
    opacity: 0.7;
}

.card {
    margin: 45px 0px;
    padding: 10px 5px;
    display: flex;

    transition: 0.3s;
}

.card:hover {
    background-color: rgb(211, 238, 255);
    border-radius: 10px;
}

.card__img {
    margin-right: 10px;
    width: 50px;
    min-width: 50px;
    height: 50px;

    background-color: rgb(198, 215, 224);
    border-radius: 100%;
}

.card__author {
    color: rgb(39, 107, 163);
    font-weight: bold;
}

.card__time {
    color: rgb(121, 121, 121);
}

.card__body div {
    margin-bottom: 10px;
}

.card__content {
    width: 100%;
    max-width: 450px;
    word-break: break-word;
    white-space: pre-line;
} 

.warning {
    color: red;
}

.hide {
    display: none;
}